body {
    background-image: url("../asserts/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

.welcome {
    margin-top: 40px;
    margin-left: 30px;
    margin-bottom: 50px;
}

.todo_list {

    padding-left: 35px;
    padding-right: 35px;
    align-items: center;
    /* width: 100vw; */
    display: grid;
    place-items: center;
    /* opacity: 0.6; */
}

.input_task_container {
    border-radius: 10px;
    display: flex;
    background-color: white;
    opacity: 0.6;
    align-items: center;
    padding: 10px 10px 10px 10px;


}
input {
    width: 350px;
    border: none;
}
input:focus{
    outline: none;
}

.plus {
    margin-left: 10px;
    cursor: pointer;
}


.todo_item{
    border-radius: 10px;
    display: flex;
    background-color: white;
    opacity: 0.6;
    
    padding: 10px 10px 10px 10px;
    width :390px;
    min-width :350px;
    margin: 10px;
    min-height: 60px;
    font-size: 24px;
}

.cards_ul{
    padding-left: unset;
}